---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2>
		<HeaderLink href="/">{SITE_TITLE}</HeaderLink>
	</h2>
</header>
<style>
	header {
		margin: 0em 0 2em;
		text-align: right;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
